html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

h1 {
	font-family:Verdana;
	font-size:16px;
}

/* Sortable tables by Stuart Langridge www.kryogenix.org/code/browser/sorttable/ */
.sortable thead{
    cursor:pointer;
    cursor:hand;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
	margin:0px;padding:0px;
	width:36em;
}

tr:nth-child(odd)	 { background-color:#e5e5e5; }
tr:nth-child(even)    { background-color:#ffffff; }

td{
	vertical-align:middle;
	text-align:left;
	padding:6px;
	font-size:10px;
	font-family:Verdana;
	font-weight:normal;
	color:#333333;
}

td:nth-child(1), td:nth-child(3), td:nth-child(4){
	text-align: center;
	width:2em;
}

th{
	background-color:#006A51;
	text-align:center;
	font-size:10px;
	font-family:Verdana;
	font-weight:normal;
	color:#ffffff;
}

th:nth-child(2){
	padding-left:0.5em;
	text-align: left;
}

a:hover, a:focus {
    color: #00A389;
    text-decoration: underline;
}

a {
    color: #006A51;
    text-decoration: none;
}

td {
	background-position:center center; 
	background-size:70%;
	background-repeat:no-repeat;
}

.pdf {
	background-image: url('icons/pdf.svg');
}

.odt {
	background-image: url('icons/odt.svg');
}

.doc, .docx{
	background-image: url('icons/doc.svg');
}

.zip, .rar, .gz, .bz2 {
	background-image: url('icons/zip.svg');	
}

.odp {
	background-image: url('icons/odp.svg');
}

.ods{
	background-image: url('icons/ods.svg');
}

.ppt, .pptx{
	background-image: url('icons/ppt.svg');
}

.asc {
	background-image: url('icons/asc.svg');
}

.pgp {
	background-image: url('icons/pgp.svg');
}

.kdb {
	background-image: url('icons/kdb.svg');
}

.dmg {
	background-image: url('icons/odp.svg');
}

.lock {
	background-image: url('icons/lock.svg');
}

.exe {
	background-image: url('icons/exe.svg');
}

.odb {
	background-image: url('icons/db.svg');
}

.jpg {
	background-image: url('icons/jpg.svg');
}

.png {
	background-image: url('icons/png.svg');
}

.xls, .xlsx {
	background-image: url('icons/xls.svg');
}

.html, .sh, .php {
	background-image: url('icons/script.svg');
}

.mkv, .avi, .mpg, .mpeg, .mov {
	background-image: url('icons/video.svg');
}

